.jumbotron {

    display: flex;
    flex-wrap: nowrap;
}


.container {
    border-style: solid;
    border-color: #ffffff;
    width: 69%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    display: inline-block;
    padding: 50px;
}

.display-4 {
    color: white;
}

.lead {
    color: white;
}

.container2 {
    border-style: solid;
    border-color: white;
    width: 30%;
    justify-content: center;
    align-items: center;
    text-align: justify;
    display: inline-block;
    padding: 50px;

}

.nav-link {
    color: white;
}

body {
    background-color: black;
}

.white {
    background-size: cover;
    background: white;
    background-repeat: no-repeat;
    height: calc(55vh - 25px);
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 7px;
}

.butn {
    margin-top: 10px;
    align-content: center;
    background: pink;
    border-style: none;
    border-radius:.4em;
    padding: 10px;

}

#div1 {
    margin-top: 10px;
    align-content: center;
}
